<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.geniri.camofox</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{NODE_BIN}}</string>
        <string>server.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{HOME}}/.geniriclaw/camofox/camofox-browser</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
        <key>CAMOFOX_PORT</key>
        <string>9377</string>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>StandardOutPath</key>
    <string>{{HOME}}/.geniriclaw/camofox/logs/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>{{HOME}}/.geniriclaw/camofox/logs/stderr.log</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
